{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="pottery, market, potter" />
    <meta
      name="description"
      content="A field of clay touched by the genius of man becomes a castle"
    />
    <link rel="stylesheet" type="text/css" href="{%  static  '/css/users/login.css'  %}" />

    <title>login</title>
    <link rel="stylesheet" href='{%  static  "font-awesome/css/font-awesome.min.css"  %}'>
</head>
<body>
    <div class="bg"></div>
        <div class="wrap">
            <div class="form_wrap">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="error">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                            <p class="error">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
                you are logged in as {{ user }}
                <form action="/users/accounts/password_reset/" method="POST" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    <div class="box">
                        <div class="uesr_input input_wrap">
                            <label for="email" class="label">email:</label><br>
                            <input type="text" name="email" maxlength="50" required="" id="email" class="input">
                        </div>
                    </div>
                    <input type="submit" class="submit_button">
                </form>
                <div class="links_wrap">
                    <a href="{% url 'shop' %}" class="link">back to shop</a><br>
                    <a href="{% url 'login' %}" class="link">login</a>
                </div>
            </div>
            <img src="{{ static }}/static/images/pots.jpg" alt="cups" class="image">
        </div>
</body>
</html>