.products_container{
    width: fit-content;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.products_wrap{
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 600px;
}

.products_image{
    width: 100px;
    height: 100px;
}

.products_name{
    font-size: 20px;
    width: 200px;
    overflow: hidden;
}

.delete_btn{
    background-color: rgb(202, 36, 36);
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.edit_btn{
    background: #5F9EA0;
    border-radius: 10px;
    border: 0;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.add_product{
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
}

.Wrap{
   display: flex;
}

.coupons_container{
    margin: 20px 20px 0 0;
}

.view_all_orders,
.add_coupon{
    height: 100px;
    width: 200px;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 20px;
}

.all_coupons_wrap{
    width: fit-content;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


.coupons_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 80px;
    margin: 20px;
    background-color: antiquewhite;
    overflow: auto;
}

.view_all_orders{
    margin: 20px 0 0 0;
}

@media only screen and (max-width: 800px){
    .Wrap{
        width: 100vw;
        flex-direction: column-reverse;
    }

    .add_coupon,
    .add_product,
    .view_all_orders{
        height: 50px;
        width: 80%;
        align-self: center;
    }


    .products_wrap{
        margin: 0 0 10px 0;
        width: 100vw;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 50% 50%;
    }

    .products_image{
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
    }

    .products_name{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        width: 100%;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break;
    }

    .res_wrap{
        display: flex;
        flex-direction: column;
    }

    .coupons_container{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        width: 100vw;
    }

    .add_coupon{
        margin: 0;
    }
    .all_coupons_wrap{
        align-self: center;
        max-height: 400px;
        height: fit-content;
    }

    .delete_btn,
    .edit_btn {
        width: 80px;
        height: 35px;
        margin-right: 0;
    }
    .edit_btn{
        grid-row: 1 / span 1;
        grid-column: 3 / span 1;
    }
    .delete_btn{
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }
}