.box{
    position: static;
    margin-top: 10px;
}

.address_input{
    display: inline-block;
    height: 150px;
    resize: none;
}

.submit_button{
    bottom: 35px;
}

.m_list{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
    width: 700px;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width: 800px){
    .links_wrap{
        bottom: 70px;
    }
}
