.extra_detail{
    width: 650px;
}

.coupon_wrap{
    display: flex;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.label{
    font-size: 20px;
    margin: 0 10px 0 0;
}

.coupon-input{
    font-size: 24px;
    width: 200px;
    height: 30px;
    margin: 0 10px 0 0;
}

.submit_button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color:  #5F9EA0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total{
    display: block;
    margin: 0 0 0 10px;
    font-size: 20px;
}

.Wrap{
    margin: 40px;
    width: auto;
    height: 500px;
    background-color: #ffe9c0;
    display: flex;
    border-radius: 30px;
}

.order_summary{
    width: 40%;
    height: inherit;
    background: #5f9ea0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.address,
.method,
.status,
.name{
    width: 400px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.status{
    color: red;
}

.address{
    height: 200px;
    word-wrap: break-word;
    display: inline-block;
    padding: 10px;
}

.des_wrap{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.des_input{
    resize: none;
    height: 150px;
    width: 500px;
}

.products_wrap{
    margin: 30px;
}

.finish,
.cancel{
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.finish{
    color: white;
    background-color: #5f9ea0;
}

.cancel{
    color: white;
    background-color: #4d3434;
    text-decoration: none;
}

.final{
   margin: auto 0 0 0;
}

.space{
    margin: 0 0 0 5px;
}

.error,
.coupon_used{
    position: relative;
    font-size: 20px;
}

.cancel_coupon{
    display: none;
    color: #c22424;
    margin: 0 0 0 10px;
    cursor: pointer;
}

#order_id_wrap{
    display: inline-block;
    margin: 0 0 0 10px;
}

.res_cancel{
    display: none;
}

@media(max-width: 800px){
    .Wrap{
        flex-direction: column;
        margin: 10px 0 0 0;
        background-color: unset;
    }

    .order_summary{
        width: 100%;
    }

    .method,
    .status,
    .name{
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .name{
        line-height: 50px;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
    }
    .address{
        width: 80%;
        height: 140px;
        line-height: 25px;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
    .coupon_wrap{
        width: 100vw;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .label{
        margin: 10px 0 10px 10px;
        font-size: 18px;
        width: fit-content;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .coupon-input{
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    .submit_button{
        margin: 0 10px;
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .extra_detail{
        width: 100vw;
    }
    .res_cancel{
        display: block;
    }

    .cancel_coupon{
        flex-direction: row;
        align-items: center;
    }
    .des_input{
        box-sizing: border-box;
        width: 90%;
        margin: 0 5%;
    }
    .des_wrap{
        margin: 0;
        width: 100vw;
    }
    .products_wrap{
        width: fit-content;
    }
}