
.back_btn{
    margin: 30px 0 10px 100px;
    color: black;
    text-decoration: none;
    gap: 5px;
    display: flex;
    background: rgb(65 185 199);
    border-radius: 10px;
    border: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.after_upload{
    display: flex;
    justify-content: center;
    height: 40px;
}

#cancel-btn2{
    display: none;
    margin-left: auto;
    margin-right: 30px;
}

.extra_image_preview{
    display: inline-block;
}

.before_upload{
    height: 200px;
}

.holder{
    display: inline-block;
}

.images_container{
    width: 440px;
    height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.test{
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    background-color: #41B9C7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right{
    height: fit-content;
}

.extra_preview_span {
    text-align: center;
}

#id_image{
    height: 200px;
    width: 80px;
}

.second_images_container{
    display: none;
}