*{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

body {
  margin: 0px;
  background-size: 100%;
  position: relative;
}

html{
    scroll-behavior: smooth;
}

.navbar {
  background-color: #FFE9C0;
  height: 100px;
  position: relative;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
}

.wrap_nav_button{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.topic-text {
  margin: 0 0 0 5%;
  color: #4D3434;
  font-size: 49px;
  text-decoration: none;
}

.nav-button {
  height: 60%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-decoration: none;
  font-size: 17px;
  background-color: #4D3434;
  color: white;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: #654444;
}

.close_menu, .open_menu {
  display: none;
  position: absolute;
  right: 2%;
}

@media only screen and (max-width: 800px){
  .wrap_nav_button{
    position: absolute;
    top: 0;
    width: 50%;
    height: 250px;
    display: none;
    flex-direction: column;
    z-index: 2;
    right: 0;
  }

  .open_menu {
    display: block;
  }

  .topic-text{
    font-size: 49px;
  }

  .nav-button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    text-align: center;
    width: 100%;
    margin: 0;
  }
}