.bg_repeat{
  background-repeat: repeat;
}
.filter {
  height: 50px;
  background-color: transparent;
  position: relative;
  display: grid;
  grid-template-columns: 30% 10% 50%;

}

.options_txt{
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.category_checkbox{
  height: 100%;
  margin: 0;
  width: 50%;
  display: flex;
  align-self: center;
}

::placeholder{
  color: black;
  opacity: 1;
}

.search {
  color: black;
  background-color: #a6dad9;
  height: 100%;
  width: 500px;
  margin: 0 0 0 30px;
  padding: 0;
  padding-left: 5px;
  border: none;
  border-radius: 0 0 0 20px;
  outline: none;
  font-size: 18px;
}

.search_button{
  width: 99%;
  background-color: #5f9ea0;
  border-radius: 0 0 20px 0;
  border: none;
  cursor: pointer;
}

#category_btn{
  background-color: #5f9ea0;
  width: 150px;
  height: 100%;
  border: none;
  text-align: center;
  display: grid;
  grid-template-columns: 90% auto;
}

#dropdown-content{
  background-color: #a6dad9;
  display: none;
  width: 60%;
  max-height: 300px;
  z-index: 10;
  position: absolute;
  overflow-y: scroll;
  grid-template-columns: 1fr 1fr 1fr;
}

.category_wrap{
  overflow: hidden;
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.category_wrap:hover{
  box-shadow: inset 0px 0px 20px 2px #95e9ff;
}


.product-link{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  transition: box-shadow;
  background-color: #ffffff;
  width: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-decoration: none;
  float: left;
  position: relative;
  cursor: pointer;
}

.img_wrapper{
  width: 80%;
  height: 70%;
}

.product-image {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  object-fit: contain;
}

.product:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.4);
}

.product-name,
.product-price {
  font-style: none;
  color: black;
}

.product-name {
  max-width: 300px;
  height: 40px;
  padding-left: 10px;
  margin: 0px;
  font-size: 20px;
  margin-top: 10px;
}

.product-price {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  float: left;
}

.page_num {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.N{
  padding-left: 10px;
}

.P{
  padding-right: 10px;
}

.products_field{
  min-height: 400px;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-gap: 70px;
}

.box-3 {
  margin-top: 20px;
  background: rgb(46, 46, 46);
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-3 {
  margin-top: 0%;
  padding-top: 3%;
  text-decoration: none;
  font-style: none;
  color: seashell;
}

#not_found_text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 0;
  font-size: 30px;
}

.cart{
  margin: 0 10px 0 auto;
  color: black;
  text-decoration: none;
  gap: 5px;
  position: absolute;
  right: 20px;
  display: flex;
  background: rgb(65 185 199);
  border-radius: 0 0 10px 10px;
  border: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.add_to_cart{
  margin: 10px 10px 10px 0;
  display: flex;
  background: rgb(65 185 199);
  border-radius: 10px;
  border: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.num_of_orders{
  position: absolute;
  font-size: 20px;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading_message_wrap{
    position: absolute;
    left: 20px;
    top: 60px;
}

@media(max-width: 800px){
    body{
      box-sizing: border-box;
    }
    .search{
      margin: 0;
      border-radius: 0;
      width: 100%;
      border-radius: 0 0 0 10px;
    }
    .filter{
      grid-template-columns: 60% 30% 10%;
    }
    #category_btn{
      width: 100%;
    }
    .cart{
      border-radius: 0 0 10px 0;
      margin: 0;
      right: 0;
      width: 10%;
      height: 100%;
    }
    .num_of_orders{
        top: 65%;
        right: 50%;
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
    #dropdown-content{
        grid-template-columns: auto;
        width: 40vw;
        display: none;
    }

    .products_field{
        min-height: 200px;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 25px;
    }

    .product-link{
        width: 90%;
        justify-self: center;
    }
    #loading_message_wrap {
        top: 50px;
    }
    #not_found_text{
        position: absolute;
        font-size: 10px;
        margin: 0;
    }
}