body{
    font-size: 30px;
}
.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 100px;
}

.left{
  display: grid;
  grid-template-rows: 10% 40% 10% 10% 30%;
  height: 700px;
}

.name{
    grid-row: 1/ span 1;
    margin: 0;
}
.description{
    grid-row: 2/ span 1;
    overflow: hidden;
    line-height: 100%;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.price{
    grid-row: 3/ span 1;
    margin: 0;
}

.categorys{
  grid-row: 5 / span 1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.category{
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: none;
  border-radius: 100px;
  margin: 10px;
  background-color: #5f9ea0;
}

.right{
  width: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
  height: 700px;
}

.main_image{
  grid-row: 1 / span 1;
  width: 80%;
  justify-self: center;
}
.extra_image{
  width: 30%;
  height: 30%;
  margin: 0 1%;
}

.extra_image:hover {
  opacity: 0.7;
}

.slider{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  padding: 0 10%;
}

.sliders_images{
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.arrow{
  height: 50px;
  width: 25px;
  color: #4D3434;
  cursor: pointer;
}

.arrow:hover{
  opacity: 0.5;
}

.add_to_cart{
  grid-row: 4/ span 1;
  font-size: 24px;
  display: flex;
  background: rgb(65 185 199);
  border-radius: 10px;
  border: 0;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.cart{
  font-size: 20px;
  margin: 0 10px 0 auto;
  color: black;
  text-decoration: none;
  position: absolute;
  right: 20px;
  display: flex;
  background: rgb(65 185 199);
  border-radius: 0 0 10px 10px;
  border: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.added{
  display: none;
  align-self: center;
}

.added2{
  align-self: center;
}

.hide{
  display: none;
}

.num_of_orders{
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  background-color: aquamarine;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px){
    body{
        font-size: 18px;
    }
    .open_menu,
    .close_menu{
        font-size: 16px;
    }

    .cart{
      font-size: 16px;
      margin: 0;
      right: 10px;
      width: 10%;
    }
    .wrap{
      margin: 20px 10px;
    }
    .left{
        height: 400px;
    }
    .right{
        height: 70%;
    }
    .add_to_cart{
      font-size: 16px;
      width: 70%;
      height: 100%;
    }

    .category {
      font-size: 14px;
      width: fit-content;
      height: fit-content;
      padding: 5px;
      border: none;
      border-radius: 10px;
      margin: 0 5px;
      background-color: #5f9ea0;
    }
    .main_image{
      width: 100%;
    }
    .arrow{
        width: 0;
        height: 0;
        opacity: 0;
    }
    .slider{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .sliders_images{
        width: 100%;
        overflow-x: auto;
    }
    .extra_image{
        width: 40%;
    }
}