{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="pottery, market, potter" />
    <meta
      name="description"
      content="A field of clay touched by the genius of man becomes a castle"
    />
    {% block head_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href='{%  static  "font-awesome/css/font-awesome.min.css"  %}'>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    <div id="navbar" class="navbar">
        <a class="topic-text" href="index.html">pottery</a>
        <div class="open_menu" id="open_menu"><i class="fa fa-bars fa-3x"></i></div>
        <ui class="wrap_nav_button" id="wrap_nav_button">
          <div class="close_menu" id="close_menu"><i class="fa fa-times fa-3x"></i></div>
          <a class="nav-button" href="{% url 'index' %}">Home</a>
          <a class="nav-button" href="{% url 'shop' %}">shop</a>
          {% if user.is_authenticated %}
              <a class="nav-button" href="{% url 'profile' %}">profile</a>
          {% endif %}
          {% if user.is_anonymous %}
              <a class="nav-button" href="{% url 'login' %}">login</a>
          {% endif %}
        </ui>
    </div>
    {% block content %}
    {% endblock %}
    {% block js %}{% endblock %}
    <script src='{%  static  "js/base.js"  %}'></script>
</body>
</html>