{% extends 'base.html' %}

{% load static %}

{% block title %}pottery{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{%  static  '/css/base.css'  %}" />
<link rel="stylesheet" type="text/css" href="{%  static  '/css/view_product.css'  %}" />
{% endblock %}
{% block content %}
<body style="background-image: url({% static 'images/Icon_grid.svg' %});">
    {% if user.is_authenticated %}
        <a href="{% url 'cart' %}" class="cart"><i class="fa fa-shopping-cart fa-2x fa-flip-horizontal"></i><div id="num_of_orders" class="num_of_orders">{{ num_of_all_orders }}</div></a>
    {% endif %}
    <div class="wrap">
        <div class="left">
            <h3 class="name">{{ product.name|safe }}</h3>
            <div class="description">
                {{ product.description|safe }}
            </div>
            <h3 class="price">{{ product.price|safe }}$</h3>
            {% if user.is_authenticated %}
                {% if not users_orders_num %}
                    <div id="{{ product.product_id|safe }}" class="add_to_cart">
                        add to cart
                    </div>
                {% else %}
                    <p class="added2">added to cart!</p>
                {% endif %}
                <p class="added hide">added to cart!</p>
            {% endif %}
            <div class="categorys">
                {% for category in category %}
                    <div class="category">
                        <span id="{{ category.category.category_id }}" class="search_link">{{ category.category.category|safe }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <img  class="main_image" src="{{ MEDIA_URL }}{{ product.main_image|safe }}" alt="{{ product.main_image|safe }}" id="main_img">
            <div class="slider">
                <i class="fa fa-caret-left fa-2x arrow" aria-hidden="true" id="leftarrow"></i>
                <div class="sliders_images" id="sliders_images">
                    {% for image in images %}
                            <img class="extra_image" src="{{ MEDIA_URL }}{{ image.image|safe }}" alt="{{ image.image|safe }}">
                    {% endfor %}
                </div>
                <i class="fa fa-caret-right fa-2x arrow" aria-hidden="true" id="rightarrow"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src='{%  static  "js/view_product.js"  %}'></script>
<script src='{%  static  "js/jquery-3.6.0.min.js"  %}'></script>
{% endblock %}