{% extends 'base.html' %}

{% load static %}

{% block title %}admin_panel_edit{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{%  static  '/css/base.css'  %}" />
<link rel="stylesheet" type="text/css" href='{%  static  "css/add_product.css"  %}' />
<link rel="stylesheet" type="text/css" href='{%  static  "css/admin_panel_edit.css"  %}' />
{% endblock %}

{% block content %}
<body style="background-image: url({% static 'images/Icon_grid.svg' %});">
    <a class="back_btn" href="{% url 'admin_panel' %}"><i class="fa fa-arrow-left fa-2x"></i>back to panel</a>
    <form action="/users/admin_panel_edit/{{ product.product_id }}" method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <p>{{ error }}</p>
        <div class="left">
            <div class="field">
                <label for="id_name" class="label">Name:</label>
                <input type="text" name="name" maxlength="50" id="id_name" class="text_field name_field" value="{{ product.name }}">
            </div>
            <div class="field">
                <label for="id_description" class="label">Description:</label>
                <textarea rows="4" cols="50" name="description" maxlength="255" id="id_description" class="text_field" style="resize: none;">{{ product.description }}</textarea>
            </div>
            <div class="field">
                <label for="id_price" class="label">Price:</label>
                <input type="number" name="price" value="{{ product.price }}" step="0.01" min="0.0" id="id_price" class="number_field">
            </div>
            <div class="field">
                <label class="label">Categorys:</label>
                <div id="cat_div">
                    <div class="limit_wrap">
                        <div class="select_cat" id="select"><!-- red -->
                            <select class="text_field select_cat">
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes"><!-- red -->
                            {% if unavailable %}
                                <h2 id="available">none added yet!</h2>
                            {% endif %}
                            {% for category in categorys %}
                                {% if category.has_category %}
                                    <div class="options">
                                        <label  class="options_txt" style="font-size: 16px;">{{ category.category }}</label>
                                        <input type="checkbox" class="checkbox_cat" checked value="{{ category.category }}" name="category"/>
                                    </div>
                                {% else %}
                                    <div class="options">
                                        <label  class="options_txt" style="font-size: 16px;">{{ category.category }}</label>
                                        <input type="checkbox" class="checkbox_cat" value="{{ category.category }}" name="category"/>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="text" maxlength="35" id="new_option" class="text_field new_option" placeholder="type here ...">
                    <div id="add_category"><i class="fa fa-plus fa-2x"></i></div>
                </div>
            </div>
            <input type="submit" class="submit_button">
        </div>
        <div class="right">
            <div class="field res">
                <input accept="image/*" type="file" name="main_image" id="id_main_image" class="file_field" style="opacity: 0;">
                <div class="main_image_preview">
                    <div id="cancel-btn"><i class="fa fa-times fa-2x"></i></div>
                    <img src="{{ MEDIA_URL }}{{ product.main_image }}" alt=" " class="main_preview_img" id="main_preview_img">
                    <span style="z-index: 2; font-size: 35px;" class="main_preview_span">Choose an other image</span>
                </div>
            </div>
            <div class="field res extra">
                <div class="extra_image_preview">
                    <div class="after_upload" id="after_upload">
                        <h class="note1">files Uploaded!</h>
                        <div id="cancel-btn2"><i class="fa fa-times fa-2x"></i></div>
                        <div class="second_images_container images_container" id="second_images_container"></div>
                    </div>
                    <div class="images_container" id="images_container">
                        <h class="note1">Uploaded files</h>
                        <div>
                            {% for picture in pictures %}
                                <div class="holder">
                                    <div>
                                        <img class="extra_preview_img" src="{{ MEDIA_URL }}{{ picture.image }}">
                                        <div class="figcapholder">
                                            <figcaption class="figcap">{{ picture.name }}</figcaption>
                                        </div>
                                    </div>
                                 </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="test">
                    <div class="before_upload">
<!--                        <div class="images_container"></div>-->
                        <input accept="image/*" type="file" multiple name="image" id="id_image" class="file_field" style="opacity: 0;">
                        <span class="extra_preview_span">change<br>extra<br>images<br><i class="fa fa-plus fa-2x" style="vertical-align: sub;"></i></span>
                </div>
                </div>
            </div>
        </div>
    </form>
    <br><br><br>

</body>
{% endblock %}
{% block js %}
<script src='{%  static  "js/jquery-3.6.0.min.js"  %}'></script>
<script src='{%  static  "js/users/admin_panel_edit.js"  %}'></script>
{% endblock %}

